.cardInput {
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.marginBottom {
    margin: 0;
    margin-bottom: 16px;
}

.cardInputSelected {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);   
}

.displayBlock {
    display: block;
}

.buyButton {
    background-color: #2962ff;
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    border-radius: 1rem;
    border: 1px solid transparent;
}


.secureDescription {
    float: right;
    font-size: 1.1rem;
    color: #707073;
}

.iconDumb {
    vertical-align: middle;
    margin-right: 10px;
}
.textDumb {
    vertical-align: middle;
}

.paymentSection {
    overflow:auto;
    padding: 20px;
    background-color: #F8F8F9;
    border-radius: 1rem;
    margin-bottom: 30px;
}

.marginRight {
    margin-right: 10px;
}

.marginLeftRight {
    margin-right: 10px;
    margin-left: 30px;
}

.container {
    padding: 0 10%;
    padding-top: 30px;
}

.labelPaymentInput {
    display: block;
    margin: 0;
    margin-bottom: 8px;
}

.left {
    width: 60%;
    display: inline-block;
    margin-right: 20px;
}


.right {
    width: 38%;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #E7E8EA;
    padding: 10px 15px;
    vertical-align: top;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.marginBottom {
    margin: 0;
    margin-bottom: 16px;
}

.marginBottom30 {
    margin: 0;
    margin-bottom: 30px;
}

.marginRight {
    margin-right: 10px;
}

.marginLeftRight {
    margin-right: 10px;
    margin-left: 30px;
}

.label {
    width: 50%;
    display: inline-block;
}

.labelTotal {
    width: 50%;
    display: inline-block;
    font-weight: 700;
}

.precio {
    float: right;
    width: 25%;
    text-align: end;
}
.moneda {
    font-weight: 600;
    width: 25%;
}

.enlace {
    font-weight: 700;
}

.inlineBlock {
    display: inline-block;
}

.payButton {
    background-color: #2962ff;
    color: white;
    font-weight: 600;
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid transparent;
}
.payButton:hover {
box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
  -webkit-box-shadow: 1px 1px 12px -1px rgb(0 0 0 / 24%);
}

.loadingGifContainer {
    text-align: center;
}
.loadingGif {
    width: 20%;
}

.row {
    display: flex;
}

.mitadUno {
    width: 45%;
    display: inline-block;
    margin-right: 5%;
}

.mitadDos {
    width: 50%;
    display: inline-block;
}

.error {
    color:red;
    margin: 8px 0 15px 0;
    font-weight:500;
    display: block;
}




  .errorInput {
    border: 1px solid #fc9696;
  }

    .errorInputSelected{
        color: #212529;
        background-color: #fff;
        border-color: #fe8686;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(253, 13, 13, 0.25);
    }
